<li title="Example: pa akinaywan punqota" style="opacity: 0.81;">
  <input type="text" class="headword confidence:0.81 morphemes:aki gloss:door" title="Word">
  <textarea  class="discussion confidence:0.81 morphemes:aki gloss:door" hidden title="Discussion, notes etc">
  </textarea>
  <dl>
    <dt>
      <span class="fieldlabel">
        Remove this word from the cloud
      </span>
    </dt>
    <dd>
      <input type="checkbox" class="fieldvalue" title="Hide this word">
    </dd>
    <dt>
      <span class="fieldlabel">
        Boost word count
      </span>
    </dt>
    <dd>
      <input type="text" class="fieldvalue" title="count">
    </dd>
    <dt>
      <span class="fieldlabel">
        Font Weight
      </span>
    </dt>
    <dd>
      <input type="text" class="fieldvalue" title="Font weight">
    </dd>
    <dt>
      <span class="fieldlabel">
        Alternates
      </span>
    </dt>
    <dd>
      <input type="text" class="fieldvalue" title="Alternate forms">
    </dd>
    <dt>
      <span class="fieldlabel">
        Morphemes
      </span>
    </dt>
    <dd>
      <input type="text" class="fieldvalue" title="Morph-eme-s">
    </dd>
    <dt>
      <span class="fieldlabel">
        Categories
      </span>
    </dt>
    <dd>
      <input type="text" class="fieldvalue" title="Comma separated categories">
    </dd>
    <dt>
      <span class="fieldlabel gloss door">
        Gloss
      </span>
    </dt>
    <dd>
      <input type="text" class="fieldvalue gloss door" title="Gloss">
    </dd>
  </dl>
</li>
