<div class="view">
  <input class="toggle" type="checkbox" ng-model="wordCloud.archived" ng-change="wordCloudArchived(wordCloud)">
  <label ng-dblclick="editWordCloud(wordCloud)">{{wordCloud.title}}</label>
  <div data-word-cloud-viz class="word-cloud-viz"></div>
  <div class="word-cloud-viz">{{wordCloud.stopWordsSpaceSeparated}}  {{wordCloud.morphemes}}</div>
  <button class="destroy" ng-click="removeWordCloud(wordCloud)"></button>
</div>
<form ng-submit="doneEditing(wordCloud)">
  <textarea class="edit" ng-trim="false" ng-model="wordCloud.text" word-cloud-escape="revertEditing(wordCloud)" word-cloud-focus="wordCloud == editedWordCloud" ng-dblclick="doneEditing(wordCloud)" placeholder="Paste your text here..."> </textarea>
  <textarea class="edit" ng-model="wordCloud.stopWordsSpaceSeparated" placeholder="Optional stopwords which you want to remove..."></textarea>
  <textarea class="edit" ng-model="wordCloud.morphemes" placeholder="Optional suffixes and prefixes which you want to remove..."></textarea>
</form>
