<!doctype html>
<html lang="en" ng-app="WordCloudApp" data-framework="angularjs">
    <head>
        <meta charset="utf-8">
        <title>iLanguageCloud</title>
        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <style>[ng-cloak] { display: none; }</style>
    </head>
    <body>
        <section class="word-cloud-app" ng-controller="WordCloudCtrl">
            <header class="header">
                <h1>clouds</h1>
                <form id="word-cloud-form" ng-submit="addWordCloud()">
                    <input class="new-word-cloud" placeholder="What needs to be done?" ng-model="newWordCloud" autofocus>
                </form>
            </header>
            <section class="main" ng-show="wordClouds.length" ng-cloak>
                <input class="toggle-all" id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
                <label for="toggle-all">Mark all as complete</label>
                <ul class="word-cloud-list">
                    <li ng-repeat="wordCloud in wordClouds | filter:statusFilter track by $index" ng-class="{completed: wordCloud.completed, editing: wordCloud == editedWordCloud}">
                        <div class="view">
                            <input class="toggle" type="checkbox" ng-model="wordCloud.completed" ng-change="wordCloudCompleted(wordCloud)">
                            <label ng-dblclick="editWordCloud(wordCloud)">{{wordCloud.title}}</label>
                            <button class="destroy" ng-click="removeWordCloud(wordCloud)"></button>
                        </div>
                        <form ng-submit="doneEditing(wordCloud)">
                            <input class="edit" ng-trim="false" ng-model="wordCloud.title" ng-blur="doneEditing(wordCloud)" word-cloud-escape="revertEditing(wordCloud)" word-cloud-focus="wordCloud == editedWordCloud">
                        </form>
                    </li>
                </ul>
            </section>
            <footer class="word-cloud-list-footer">
                <span class="word-cloud-count"><strong>{{remainingCount}}</strong>
                    <ng-pluralize count="remainingCount" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
                </span>
                <ul class="filters">
                    <li>
                        <a ng-class="{selected: location.path() == '/'} " href="#/">All</a>
                    </li>
                    <li>
                        <a ng-class="{selected: location.path() == '/active'}" href="#/active">Active</a>
                    </li>
                    <li>
                        <a ng-class="{selected: location.path() == '/completed'}" href="#/completed">Completed</a>
                    </li>
                </ul>
                <button class="clear-completed" ng-click="clearCompletedWordClouds()" ng-show="remainingCount < wordClouds.length">Clear completed ({{wordClouds.length - remainingCount}})</button>
            </footer>
        </section>
        <footer class="info">
            <p>Double-click to edit a cloud</p>
            <p hidden >OpenSource code available on <a href="https://github.com/iLanguage/iLanguageCloudChrome">https://github.com/iLanguage/iLanguageCloudChrome</a></p>
        </footer>
        <!-- build:js scripts/index.js -->
        <script src="bower_components/ilanguage-cloud/dist/ilanguage-cloud.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/word-cloud-controller.js"></script>
        <script src="scripts/services/word-cloud-storage.js"></script>
        <script src="scripts/directives/word-cloud-focus.js"></script>
        <script src="scripts/directives/word-cloud-escape.js"></script>
        <script src="scripts/directives/word-cloud.js"></script>
        <!-- endbuild -->
    </body>
</html>
